/* 
    Created on : Jan 3, 2017, 18:47:48
    Author     : Axel Latvala
*/
html, body, #app, .fill
{
    height: 100%;
}

body {
    padding-top: 80px;
    padding-bottom: 40px;
}

.view {
    background-color: #eee;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;
    border: 1px solid rgba(190,190,190,1)
}

.viewTitle {
    margin-top: 0;
    margin-bottom: 20px;
}

.statusMessage {
    border-radius: 5px;
    padding: 10px;
}

.loadingAnimation {
    margin-bottom: 20px;
    margin-top: 20px;
}

.nav-loggedin .showOnLoggedIn, .nav-loggedout .showOnLoggedOut {
    display: block;
}

.nav-loggedout .showOnLoggedIn, .nav-loggedin .showOnLoggedOut, .nav-loggedout .showOnJSActivation, .nav-loggedin .showOnJSActivation {
    display: none;
}

.loadingRow {
    min-height: 50px;
}

/* it's nothing personal tho. */
.personalErrorMessage {
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

#chatName {
    line-height: 36px;
}

#chatList button {
    border-radius: 0;
}

.autoscroll-y {
    overflow-y: auto;
}

#chatHistory {
    padding-top: 0;
    padding-bottom: 0;
    overflow-y: auto;
}

#chatHistory .row {
    border-bottom: 1px solid lightgray;
    padding-top: 10px;
    padding-bottom: 10px;
}

#chatHistory .row:last-child
{
    border-bottom: 0;
}

.ownMessage {
    text-align: right;
}

.othersMessage {
    text-align: left;
}

.chatBubble {
    display: inline-block;
    padding: 10px;
    border-radius: 15px;
    text-align: left;
    max-width: 100%;
}

.chatMessageTextContainer {
    word-break: break-all;
}

.ownMessage .chatBubble {
    border-top-right-radius: 5px;
    background: lightblue;
}

.othersMessage .chatBubble {
    border-top-left-radius: 5px;
    background: lightgray;
}

.chatMessageInfoContainer small {
    display: block;
    color: #767676;
}

#showChatlist {
    width: 100%;
}

.padTop {
    padding-top: 10px;
}

.messageFrom {
    font-weight: bold;
}

.nonMobilePadder
{
    padding-bottom: 60px;
}

#chatListCol .list-group-item {
    border-left: 0;
    border-right: 0;
}

#chatListCol .list-group-item:nth-of-type(1) {
    border-top: 0;
}

#userManagerPanelBody {
    overflow-x: auto;
}