body
{
    width: 100%;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}
div#content
{
    width: 580px;
    margin: 25px auto;
}
h3
{
    font-weight: 500;
    font-size: 27px;
}
p
{
    margin-bottom: 10px;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.6;
}
p.lead
{
    font-size: 17px;
}